* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: default;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 32px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0 4px 0;
}

.input-container label {
  margin: 0 4px 0 0;
  font-size: 14px;
}

.input-container input {
  padding: 2.5px;
  width: 100px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.input-container input:focus {
  border: 1px solid rgba(0, 0, 0, 7);
}

.chooseAngle-container {
  display: flex;
  justify-content: space-around;
  margin: 6px;
}

.chooseAngle-container label {
  font-size: 14px;  
}

.btn-submit {
  margin: 8px 0 0 0;
  padding: 8px 16px;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
}

.angle-container {
  display: flex;
  align-items: flex-end;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 8px 0 0 0;
  padding: 4px;
  font-size: 14px;
  font-weight: 600;
}

span {
  padding: 4px;
  color: aquamarine;
}